<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Create Product</p>
<p><a href="/">Product List</a></p>
<th:block th:if="${message}">
    <p style="color: red" th:text="${message}"></p>
</th:block>
<form th:action="@{/create}" th:object="${product}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td></td>
            <input type="submit" value="Create Product">
        </tr>
    </table>
</form>
</body>
</html>