<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/create">Create Product</a></p>
<table border="1">
    <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="product:${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td><a th:href="@{/edit/__${product.id}__}">Edit</a></td>
        <td><a th:href="@{/delete/__${product.id}__}">Delete</a></td>
    </tr>
</table>
</body>
</html>